In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.action_chains import ActionChains       #to hover your mouse cursor or to change the window tab
import time

In [13]:
driver = webdriver.Chrome('chromedriver.exe')

# Scrape the details of most viewed videos on YouTube from Wikipedia

In [3]:
url1 = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url1)
time.sleep(3)                                         #accessing the url

In [4]:
rank = []
name = []
artist = []
up_date = []
views = []                                                           #declaring lists

top_vid = driver.find_element_by_xpath('//li[@class="toclevel-1 tocsection-2"]//a')
top_vid.click()
time.sleep(1)

for i in range (1, 31):                                              #using for loop to loop over all the rows at once
    xp = '//table[@class="wikitable sortable jquery-tablesorter"][1]//tbody//tr['
    rank_path = driver.find_element_by_xpath(xp + str(i) + ']//td[1]')
    name_path = driver.find_element_by_xpath(xp + str(i) + ']//td[2]')
    artist_path = driver.find_element_by_xpath(xp + str(i) + ']//td[3]')
    up_date_path = driver.find_element_by_xpath(xp + str(i) + ']//td[4]')
    views_path = driver.find_element_by_xpath(xp + str(i) + ']//td[5]')
    
    rank.append(rank_path.text)
    name.append(name_path.text)
    artist.append(artist_path.text)
    up_date.append(up_date_path.text)
    views.append(views_path.text)
    
wiki = pd.DataFrame({})                                             #creating dataframe
wiki['Rank'] = rank
wiki['Name'] = name
wiki['Artist'] = artist
wiki['Upload Date'] = up_date
wiki['Views'] = views
wiki.set_index('Rank', inplace = True)
wiki

,Name,Artist,Upload Date,Views
Rank,,,,
1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,8.78,"June 17, 2016"
2.,"""Despacito""[24]",Luis Fonsi,7.40,"January 12, 2017"
3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,5.46,"October 8, 2016"
4.,"""Shape of You""[26]",Ed Sheeran,5.35,"January 30, 2017"
5.,"""See You Again""[27]",Wiz Khalifa,5.14,"April 6, 2015"
6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,4.44,"January 31, 2012"
7.,"""Uptown Funk""[31]",Mark Ronson,4.20,"November 19, 2014"
8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,4.15,"February 27, 2018"
9.,"""Bath Song""[33]",Cocomelon – Nursery Rhymes,4.14,"May 2, 2018"
10.,"""Gangnam Style""[34]",Psy,4.09,"July 15, 2012"
11.,"""Phonics Song with Two Words""[36]",ChuChu TV,3.92,"March 6, 2014"
12.,"""Sugar""[37]",Maroon 5,3.48,"January 14, 2015"
13.,"""Sorry""[38]",Justin Bieber,3.44,"October 22, 2015"
14.,"""Dame Tu Cosita""[39]",El Chombo,3.39,"April 5, 2018"
15.,"""Roar""[40]",Katy Perry,3.37,"September 5, 2013"
16.,"""Counting Stars""[41]",OneRepublic,3.32,"May 31, 2013"
17.,"""Thinking Out Loud""[42]",Ed Sheeran,3.27,"October 7, 2014"
18.,"""Dark Horse""[43]",Katy Perry,3.09,"February 20, 2014"
19.,"""Faded""[44]",Alan Walker,3.08,"December 3, 2015"
20.,"""Wheels on the Bus""[45]",Cocomelon – Nursery Rhymes,3.08,"May 24, 2018"
21.,"""Shake It Off""[46]",Taylor Swift,3.07,"August 18, 2014"
22.,"""Lean On""[47]",Major Lazer,3.05,"March 22, 2015"
23.,"""Girls Like You""[48]",Maroon 5,3.05,"May 31, 2018"
24.,"""Bailando""[49]",Enrique Iglesias,3.04,"April 11, 2014"
25.,"""Let Her Go""[50]",Passenger,3.01,"July 25, 2012"
26.,"""Mi Gente""[51]",J Balvin,2.93,"June 29, 2017"
27.,"""Perfect""[52]",Ed Sheeran,2.87,"November 9, 2017"
28.,"""Waka Waka (This Time for Africa)""[53]",Shakira,2.85,"June 4, 2010"
29.,"""Hello""[54]",Adele,2.84,"October 22, 2015"
30.,"""Axel F""[55]",Crazy Frog,2.83,"June 16, 2009"

In [5]:
wiki['Name'] = wiki['Name'].apply(lambda x: x[1:-5])        #removing quotation marks and [i]
wiki

,Name,Artist,Upload Date,Views
Rank,,,,
1.,Baby Shark Dance,Pinkfong Kids' Songs & Stories,8.78,"June 17, 2016"
2.,Despacito,Luis Fonsi,7.40,"January 12, 2017"
3.,Johny Johny Yes Papa,LooLoo Kids,5.46,"October 8, 2016"
4.,Shape of You,Ed Sheeran,5.35,"January 30, 2017"
5.,See You Again,Wiz Khalifa,5.14,"April 6, 2015"
6.,Masha and the Bear – Recipe for Disaster,Get Movies,4.44,"January 31, 2012"
7.,Uptown Funk,Mark Ronson,4.20,"November 19, 2014"
8.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,4.15,"February 27, 2018"
9.,Bath Song,Cocomelon – Nursery Rhymes,4.14,"May 2, 2018"
10.,Gangnam Style,Psy,4.09,"July 15, 2012"
11.,Phonics Song with Two Words,ChuChu TV,3.92,"March 6, 2014"
12.,Sugar,Maroon 5,3.48,"January 14, 2015"
13.,Sorry,Justin Bieber,3.44,"October 22, 2015"
14.,Dame Tu Cosita,El Chombo,3.39,"April 5, 2018"
15.,Roar,Katy Perry,3.37,"September 5, 2013"
16.,Counting Stars,OneRepublic,3.32,"May 31, 2013"
17.,Thinking Out Loud,Ed Sheeran,3.27,"October 7, 2014"
18.,Dark Horse,Katy Perry,3.09,"February 20, 2014"
19.,Faded,Alan Walker,3.08,"December 3, 2015"
20.,Wheels on the Bus,Cocomelon – Nursery Rhymes,3.08,"May 24, 2018"
21.,Shake It Off,Taylor Swift,3.07,"August 18, 2014"
22.,Lean On,Major Lazer,3.05,"March 22, 2015"
23.,Girls Like You,Maroon 5,3.05,"May 31, 2018"
24.,Bailando,Enrique Iglesias,3.04,"April 11, 2014"
25.,Let Her Go,Passenger,3.01,"July 25, 2012"
26.,Mi Gente,J Balvin,2.93,"June 29, 2017"
27.,Perfect,Ed Sheeran,2.87,"November 9, 2017"
28.,Waka Waka (This Time for Africa),Shakira,2.85,"June 4, 2010"
29.,Hello,Adele,2.84,"October 22, 2015"
30.,Axel F,Crazy Frog,2.83,"June 16, 2009"

# Scrape the details team India’s international fixtures from bcci.tv.

In [6]:
url2 = 'https://www.bcci.tv/'
driver.get(url2)
time.sleep(3)                                             #accessing the url

intnat = driver.find_element_by_xpath('//li[@data-nav-index="0"]//div[2]')
intnat.click()
time.sleep(1)

fix = driver.find_element_by_xpath('//li[@data-nav-index="0"]//div[2]//li[1]//a')
fix.click()
time.sleep(3)

In [7]:
title = []
series = []
place = []
date = []
ti = []                                                  #declaring lists

title_tag = driver.find_elements_by_xpath('//strong[@class="fixture__name fixture__name--with-margin"]')
series_tag = driver.find_elements_by_xpath('//span[@class="u-unskewed-text fixture__tournament-label u-truncated"]')
place_tag = driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]//span')
date_tag = driver.find_elements_by_xpath('//div[@class="fixture__full-date"]')
time_tag = driver.find_elements_by_xpath('//span[@class="fixture__time"]')

for i in title_tag:                                                  #looping over tag and adding relevant text to the list
    title.append(i.text)
    
for i in series_tag:                                                #looping over tag and adding relevant text to the list
    series.append(i.text)
    
for i in place_tag:                                                 #looping over tag and adding relevant text to the list
    place.append(i.text)
    
for i in date_tag:                                                 #looping over tag and adding relevant text to the list
    date.append(i.text.replace('\n', ' '))
    
for i in time_tag:                                                #looping over tag and adding relevant text to the list
    ti.append(i.text)
    
bcci = pd.DataFrame({})                                               #creating dataframe
bcci['Title'] = title
bcci['Series'] = series
bcci['Place'] = place
bcci['Date'] = date
bcci['Time'] = ti
bcci

,Title,Series,Place,Date,Time
0,Final,ICC WORLD TEST CHAMPIONSHIP,"The Ageas Bowl, Southampton",18 JUNE 15:00 IST,15:00 IST
1,1st ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",13 JULY 14:30 IST,14:30 IST
2,2nd ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",16 JULY 14:30 IST,14:30 IST
3,3rd ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",18 JULY 14:30 IST,14:30 IST
4,1st T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",21 JULY 19:00 IST,19:00 IST
5,2nd T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",23 JULY 19:00 IST,19:00 IST
6,3rd T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",25 JULY 19:00 IST,19:00 IST
7,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04 AUGUST 15:30 IST,15:30 IST
8,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12 AUGUST 15:30 IST,15:30 IST
9,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25 AUGUST 15:30 IST,15:30 IST
10,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02 SEPTEMBER 15:30 IST,15:30 IST
11,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10 SEPTEMBER 15:30 IST,15:30 IST

In [8]:
bcci['Date'] = bcci['Date'].apply(lambda x: x[:-10])          #removing time from date column
bcci

,Title,Series,Place,Date,Time
0,Final,ICC WORLD TEST CHAMPIONSHIP,"The Ageas Bowl, Southampton",18 JUNE,15:00 IST
1,1st ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",13 JULY,14:30 IST
2,2nd ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",16 JULY,14:30 IST
3,3rd ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",18 JULY,14:30 IST
4,1st T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",21 JULY,19:00 IST
5,2nd T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",23 JULY,19:00 IST
6,3rd T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",25 JULY,19:00 IST
7,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04 AUGUST,15:30 IST
8,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12 AUGUST,15:30 IST
9,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25 AUGUST,15:30 IST
10,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02 SEPTEMBER,15:30 IST
11,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10 SEPTEMBER,15:30 IST

# Scrape the details of selenium exception from guru99.com.

In [9]:
url3 = 'https://www.guru99.com/'
driver.get(url3)
time.sleep(3)                                             #accessing the url

sel = driver.find_element_by_xpath('//li//a[@title="Selenium"]')
sel.click()
time.sleep(2)

exc_hand = driver.find_element_by_xpath('//a[@title="Selenium Exception Handling (Common Exceptions List)"]')
exc_hand.click()
time.sleep(2)

In [10]:
name = []
desc = []                                                  #declaring lists

for i in range (2, 43):                                    #using for loop to loop over all the rows at once
    xp = '//table[@class="table table-striped"]//tr['
    name_tag = driver.find_element_by_xpath(xp + str(i) + ']//td[1]')
    desc_tag = driver.find_element_by_xpath(xp + str(i) + ']//td[2]')
    
    name.append(name_tag.text)
    desc.append(desc_tag.text)
    
ex = pd.DataFrame({})                                   #creating dataframe
ex['Name'] = name
ex['Description'] = desc
ex

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# Scrape the details of State-wise GDP of India from statisticstime.com.

In [12]:
url4 = 'http://statisticstimes.com/'                     #accessing the url
driver.get(url4)
time.sleep(3)

eco = driver.find_element_by_xpath('//div[@class="dropdown"][2]')
hover = ActionChains(driver).move_to_element(eco)
hover.perform()                             #this will hover the mouse cursor over the element so drop down menu will appear

ind = driver.find_element_by_xpath('//div[@class="dropdown"][2]//a[3]')
ind.click()
time.sleep(2)                                #now we are able to access dropdown menu options

gdp_page = driver.find_element_by_xpath('//ul[@style="list-style-type:none;margin-left:20px;"]//li[1]')
gdp_page.click()
time.sleep(2)

In [13]:
rank = []
name = []
gsdp_18_19 = []
data = []                         #declaring lists

rank_tag = driver.find_elements_by_xpath('//td[@class="data1"]')
data_tag = driver.find_elements_by_xpath('//td[@class="data"]')
gsdp_tag = driver.find_elements_by_xpath('//td[@class="data sorting_1"]')
name_tag = driver.find_elements_by_xpath('//td[@class="name"]')

for i in rank_tag:                                    #looping over tag and adding relevant text to the list
    rank.append(i.text)

for i in name_tag:                                    #looping over tag and adding relevant text to the list
    name.append(i.text)
    
for i in data_tag:                                    #looping over tag and adding relevant text to the list
    data.append(i.text)

for i in gsdp_tag:                                  #looping over tag and adding relevant text to the list
    gsdp_18_19.append(i.text)

economy = pd.DataFrame({})                          #creating dataframe
economy['Rank'] = rank[:33]                         #will access till 33rd element of list because beyond that 
economy['State'] = name[:33]                        #other table's content will start which are not relavent to us
economy['GSDP 19-20'] = data[0:161:5]
economy['GSDP 18-19'] = gsdp_18_19[:33] 
economy['Share'] = data[1:162:5]
economy['GDP($billion)'] = data[2:163:5]
economy

   Rank                      State GSDP 19-20 GSDP 18-19   Share GDP($billion)
0     1                Maharashtra          -  2,632,792  13.94%       399.921
1     2                 Tamil Nadu  1,845,853  1,630,208   8.63%       247.629
2     3              Uttar Pradesh  1,687,818  1,584,764   8.39%       240.726
3     4                    Gujarat          -  1,502,899   7.96%       228.290
4     5                  Karnataka  1,631,977  1,493,127   7.91%       226.806
5     6                West Bengal  1,253,832  1,089,898   5.77%       165.556
6     7                  Rajasthan  1,020,989    942,586   4.99%       143.179
7     8             Andhra Pradesh    972,782    862,957   4.57%       131.083
8     9                  Telangana    969,604    861,031   4.56%       130.791
9    10             Madhya Pradesh    906,672    809,592   4.29%       122.977
10   11                     Kerala          -    781,653   4.14%       118.733
11   12                      Delhi    856,112    774,870   4.10%       117.703
12   13                    Haryana    831,610    734,163   3.89%       111.519
13   14                      Bihar    611,804    530,363   2.81%        80.562
14   15                     Punjab    574,760    526,376   2.79%        79.957
15   16                     Odisha    521,275    487,805   2.58%        74.098
16   17                      Assam          -    315,881   1.67%        47.982
17   18               Chhattisgarh    329,180    304,063   1.61%        46.187
18   19                  Jharkhand    328,598    297,204   1.57%        45.145
19   20                Uttarakhand          -    245,895   1.30%        37.351
20   21            Jammu & Kashmir          -    155,956   0.83%        23.690
21   22           Himachal Pradesh    165,472    153,845   0.81%        23.369
22   23                        Goa     80,449     73,170   0.39%        11.115
23   24                    Tripura     55,984     49,845   0.26%         7.571
24   25                 Chandigarh          -     42,114   0.22%         6.397
25   26                 Puducherry     38,253     34,433   0.18%         5.230
26   27                  Meghalaya     36,572     33,481   0.18%         5.086
27   28                     Sikkim     32,496     28,723   0.15%         4.363
28   29                    Manipur     31,790     27,870   0.15%         4.233
29   30                   Nagaland          -     27,283   0.14%         4.144
30   31          Arunachal Pradesh          -     24,603   0.13%         3.737
31   32                    Mizoram     26,503     22,287   0.12%         3.385
32   33  Andaman & Nicobar Islands          -          -       -             -

# Scrape the details of trending repositories on Github.com.

In [40]:
url5 = 'https://github.com/'
driver.get(url5)
time.sleep(3)                            #accessing the url

exp = driver.find_element_by_xpath('//li[@class="d-block d-lg-flex flex-lg-nowrap flex-lg-items-center border-bottom border-lg-bottom-0 mr-0 mr-lg-3 edge-item-fix position-relative flex-wrap flex-justify-between d-flex flex-items-center "][2]//summary')
hover = ActionChains(driver).move_to_element(exp)
hover.perform()                           #this will hover the mouse cursor over the element so drop down menu will appear

trending = driver.find_element_by_xpath('//ul[@class="list-style-none mb-3"][2]//li[3]//a')
trending.click()
time.sleep(2)

In [41]:
href = []
repo = []
desc = []
cont = []
lang = []                                 #declaring lists

repo_tag = driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]//a')

for i in repo_tag:
    repo.append(i.text)
    href.append(i.get_attribute('href'))            #getting href of all the repos in 1 list
    
for i in href:
    driver.get(i)
    time.sleep(3)                                 #accessing all the repos 1 by 1
    
    try:
        a = 1
        while a < 7:
            cont_tag = driver.find_element_by_xpath('//div[@class="BorderGrid-row"]['+ str (a) + ']//a')
            if ('Contributors' in cont_tag.text):
                cont.append(cont_tag.text)
                break
    
            else:
                a = a+1
    
    except:
        cont.append('-')
    
    try:
        a = 1
        while a < 7:
            lang_tag = driver.find_element_by_xpath('//div[@class="BorderGrid-row"]['+ str (a) + ']')
            if ('Languages' in lang_tag.text):
                language_tag = driver.find_element_by_xpath('//div[@class="BorderGrid-row"]['+ str (a) + ']//ul')
                lang.append(language_tag.text.replace('\n', ' '))
                break
    
            else:
                a = a+1
        
    except:
        lang.append('-')
        
    try:
        desc_tag = driver.find_element_by_xpath('//div[@class="BorderGrid-row hide-sm hide-md"]//p')
        desc.append(desc_tag.text)
    except:
        desc_tag = driver.find_element_by_xpath('//div[@class="f4 mt-3 color-text-secondary text-italic"]')
        desc.append(desc_tag.text)
        
git = pd.DataFrame({})                           #creating dataframe
git['Repository'] = repo
git['Description'] = desc
git['Contributor Count'] = cont
git['Languages'] = lang

git

,Repository,Description,Contributor Count,Languages
0,jina-ai / jina,An easier way to build neural search on the cloud,Contributors 97,Python 94.3% HTML 2.4% CSS 1.0% Shell 0.9% Doc...
1,willmcgugan / rich,Rich is a Python library for rich text and bea...,Contributors 90,Python 99.9% Other 0.1%
2,monyhar / monyhar-lite,梦弘浏览器 自主研发版本 - 完全自主研发，打破国外垄断，比 Chrome 快 600%。缺...,-,C 100.0%
3,programthink / books,【编程随想】收藏的电子书清单（多个学科，含下载链接）,-,-
4,jwasham / coding-interview-university,A complete computer science study plan to beco...,Contributors 198,-
5,streamich / react-use,React Hooks — 👍,Contributors 164,TypeScript 99.4% JavaScript 0.6%
6,hasura / graphql-engine,"Blazing fast, instant realtime GraphQL APIs on...",-,Haskell 35.3% JavaScript 20.6% TypeScript 19.5...
7,walidshaari / Certified-Kubernetes-Security-Sp...,Curated resources help you prepare for the CNC...,-,AGS Script 99.8% Jinja 0.2%
8,siduck76 / NvChad,beautiful neovim setup configured in lua,-,Lua 96.3% Shell 3.7%
9,trimstray / the-book-of-secret-knowledge,"A collection of inspiring lists, manuals, chea...",-,-
10,lydiahallie / javascript-questions,A long list of (advanced) JavaScript questions...,-,-
11,IlanKalendarov / SharpHook,"No description, website, or topics provided.",-,C# 100.0%
12,SuMaiKaDe / bot,"No description, website, or topics provided.",-,Python 95.3% Shell 4.2% JavaScript 0.5%
13,bitcoin / bitcoin,Bitcoin Core integration/staging tree,Contributors 800,C++ 66.6% Python 18.9% C 9.2% M4 1.6% Shell 1....
14,nushell / nushell,A new type of shell,-,Rust 100.0%
15,neovim / neovim,Vim-fork focused on extensibility and usability,-,Vim script 44.3% C 34.8% Lua 19.0% Python 0.8%...
16,smokeme / payloadGenerator,Generate obfuscated meterpreter shells,-,Python 59.8% C# 40.2%
17,RPwnage / pwn-my,iOS 14.5 WebKit/Safari based Jailbreak,-,JavaScript 81.9% CSS 11.2% HTML 6.9%
18,BurntSushi / ripgrep,ripgrep recursively searches directories for a...,-,Rust 94.2% Python 3.2% Shell 2.5% Other 0.1%
19,elastic / kibana,Your window into the Elastic Stack,Contributors 675,TypeScript 89.3% JavaScript 9.6% SCSS 0.4% She...
20,CyberPunkMetalHead / backtesting-for-cryptocur...,This is a simple backtesting framework to help...,-,Python 100.0%
21,discordjs / discord.js,A powerful JavaScript library for interacting ...,Contributors 312,JavaScript 99.8% Other 0.2%
22,atom / atom,The hackable text editor,Contributors 479,JavaScript 88.2% Less 8.7% CoffeeScript 3.0% S...
23,thanos-io / thanos,Highly available Prometheus setup with long te...,Contributors 355,Go 80.4% TypeScript 10.6% Jsonnet 3.5% JavaScr...
24,Asabeneh / 30-Days-Of-JavaScript,30 days of JavaScript programming challenge is...,-,JavaScript 97.8% HTML 2.2%

In [42]:
git['Contributor Count'] = git['Contributor Count'].apply(lambda x: x[13:])
git

,Repository,Description,Contributor Count,Languages
0,jina-ai / jina,An easier way to build neural search on the cloud,97,Python 94.3% HTML 2.4% CSS 1.0% Shell 0.9% Doc...
1,willmcgugan / rich,Rich is a Python library for rich text and bea...,90,Python 99.9% Other 0.1%
2,monyhar / monyhar-lite,梦弘浏览器 自主研发版本 - 完全自主研发，打破国外垄断，比 Chrome 快 600%。缺...,,C 100.0%
3,programthink / books,【编程随想】收藏的电子书清单（多个学科，含下载链接）,,-
4,jwasham / coding-interview-university,A complete computer science study plan to beco...,198,-
5,streamich / react-use,React Hooks — 👍,164,TypeScript 99.4% JavaScript 0.6%
6,hasura / graphql-engine,"Blazing fast, instant realtime GraphQL APIs on...",,Haskell 35.3% JavaScript 20.6% TypeScript 19.5...
7,walidshaari / Certified-Kubernetes-Security-Sp...,Curated resources help you prepare for the CNC...,,AGS Script 99.8% Jinja 0.2%
8,siduck76 / NvChad,beautiful neovim setup configured in lua,,Lua 96.3% Shell 3.7%
9,trimstray / the-book-of-secret-knowledge,"A collection of inspiring lists, manuals, chea...",,-
10,lydiahallie / javascript-questions,A long list of (advanced) JavaScript questions...,,-
11,IlanKalendarov / SharpHook,"No description, website, or topics provided.",,C# 100.0%
12,SuMaiKaDe / bot,"No description, website, or topics provided.",,Python 95.3% Shell 4.2% JavaScript 0.5%
13,bitcoin / bitcoin,Bitcoin Core integration/staging tree,800,C++ 66.6% Python 18.9% C 9.2% M4 1.6% Shell 1....
14,nushell / nushell,A new type of shell,,Rust 100.0%
15,neovim / neovim,Vim-fork focused on extensibility and usability,,Vim script 44.3% C 34.8% Lua 19.0% Python 0.8%...
16,smokeme / payloadGenerator,Generate obfuscated meterpreter shells,,Python 59.8% C# 40.2%
17,RPwnage / pwn-my,iOS 14.5 WebKit/Safari based Jailbreak,,JavaScript 81.9% CSS 11.2% HTML 6.9%
18,BurntSushi / ripgrep,ripgrep recursively searches directories for a...,,Rust 94.2% Python 3.2% Shell 2.5% Other 0.1%
19,elastic / kibana,Your window into the Elastic Stack,675,TypeScript 89.3% JavaScript 9.6% SCSS 0.4% She...
20,CyberPunkMetalHead / backtesting-for-cryptocur...,This is a simple backtesting framework to help...,,Python 100.0%
21,discordjs / discord.js,A powerful JavaScript library for interacting ...,312,JavaScript 99.8% Other 0.2%
22,atom / atom,The hackable text editor,479,JavaScript 88.2% Less 8.7% CoffeeScript 3.0% S...
23,thanos-io / thanos,Highly available Prometheus setup with long te...,355,Go 80.4% TypeScript 10.6% Jsonnet 3.5% JavaScr...
24,Asabeneh / 30-Days-Of-JavaScript,30 days of JavaScript programming challenge is...,,JavaScript 97.8% HTML 2.2%

# Scrape the details of top 100 songs on billiboard.com.

In [46]:
url6 = 'https://www.billboard.com/'
driver.get(url6) 
time.sleep(3)                                          #accessing the url

chart = driver.find_element_by_xpath('//li[@aria-controls="menu-charts-desktop"]')
chart.click()
time.sleep(2)

hot = driver.find_element_by_xpath('//div[@id="topchartsChartPanel"]//a[1]')
hot.click()
time.sleep(2)

In [47]:
title = []
artist = []
lst_wk = []
peak = []
wk_ch = []                                             #declaring lists

title_path = driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')
artist_path = driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')
lst_wk_path = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')
peak_path = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')
wk_ch_path = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')

for i in title_path:                                          #looping over tag and adding relevant text to the list
    title.append(i.text)
    
for i in artist_path:                                     #looping over tag and adding relevant text to the list
    artist.append(i.text)
    
for i in lst_wk_path:                                   #looping over tag and adding relevant text to the list
    lst_wk.append(i.text)
     
for i in peak_path:                                         #looping over tag and adding relevant text to the list
    peak.append(i.text)
    
for i in wk_ch_path:                                       #looping over tag and adding relevant text to the list
    wk_ch.append(i.text)
    
billboard = pd.DataFrame({})                                   #creating dataframe
billboard['Song'] = title
billboard['Artist'] = artist
billboard['Last Week'] = lst_wk
billboard['Peak'] = peak
billboard['Weeks on Chart'] = wk_ch
billboard

,Song,Artist,Last Week,Peak,Weeks on Chart
0,Butter,BTS,1,1,3
1,Good 4 U,Olivia Rodrigo,2,1,4
2,Levitating,Dua Lipa Featuring DaBaby,3,2,36
3,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,6,1,12
4,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),4,1,14
...,...,...,...,...,...
95,Things A Man Oughta Know,Lainey Wilson,93,93,4
96,Country Again,Thomas Rhett,89,73,6
97,Drunk (And I Don't Wanna Go Home),Elle King & Miranda Lambert,92,79,7
98,If You Want To,Lil Baby & Lil Durk,-,99,1
99,Seeing Green,"Nicki Minaj, Drake & Lil Wayne",67,12,4

# Scrape the details of Data science recruiters from naukri.com.

In [14]:
url7 = 'https://www.naukri.com/'
driver.get(url7)
time.sleep(3)                               #accessing the url

rec = driver.find_element_by_xpath('//a[@title="Search Recruiters"]')
rec.click()
time.sleep(2)                                 #on clicking the link

driver.switch_to.window(driver.window_handles[1])              #the page opens on new tab, this will move us to that tab

search = driver.find_element_by_xpath('//div//input[@class="sugInp"]')
search.clear()
search.send_keys('Data Science')

search_button = driver.find_element_by_id('qsbFormBtn')
search_button.click()                               #the search will be executed

In [15]:
name = []
des = []
comp = []
skills = []
loc = []
href = []                                             #declaring lists

name_path = driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')
des_path = driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
comp_path = driver.find_elements_by_xpath('//a[@class="ellipsis"]')
skills_path = driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
loc_path = driver.find_elements_by_xpath('//small[@class="ellipsis"]')

for i in name_path:                                  #looping over tag and adding relevant text to the list
    name.append(i.text)
    
for i in des_path:                                 #looping over tag and adding relevant text to the list
    des.append(i.text)
    
for i in comp_path:                                        #looping over tag and adding relevant text to the list
    comp.append(i.text) 
    href.append(i.get_attribute('href'))
    
for i in skills_path:                             #looping over tag and adding relevant text to the list
    skills.append(i.text)
        
for i in href[0::2]:
    driver.get(i)
    time.sleep(3)
    
    try:
        loc_tag = driver.find_element_by_xpath('//div[@class="oh"][2]//a')
        loc.append(loc_tag.text)
    except:
        loc.append('-')
        
naukri = pd.DataFrame({})                                      #creating dataframe
naukri['Name'] = name
naukri['Designation'] = des
naukri['Company'] = comp[::2]
naukri['Skills'] = skills
naukri['Location'] = loc
naukri

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Aakash Harit,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,shravan Kumar Gaddam,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Anik Agrawal,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,subhas patel,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Abhishek - Only Analytics Hiring - India and,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,Institute for Financial Management and Resear,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Balu Ramesh,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Asif Lucknowi,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,InstaFinancials,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Kalpana Dumpala,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,Mubarak,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,Kushal Rastogi,"Office Administration, Hr Administration, tele...",Mumbai
13,Ruchi Dhote,Senior Executive Talent Acquisition,Ruchi Dhote,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
14,Mahesh Babu Channa,HR Team Lead,Mahesh Babu Channa,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,Kapil Devang,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Manisha Yadav,HR Executive,Manisha Yadav,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
17,Riya Rajesh,Manager Talent Acquisition,Riya Rajesh,Data Science,Cochin
18,Rashmi Bhattacharjee,HR Head,Rashmi Bhattacharjee,"Corporate Sales, Software Development, Softwar...",Delhi
19,Faizan Kareem,HR MANAGER,Faizan Kareem,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
20,Rithika dadwal,HR Recruiter,Rithika dadwal,"Data Science, Machine Learning, Python, R, Dee...",Pune
21,Azahar Shaikh,Company Recruiter,Azahar Shaikh,"Data Science, Artificial Intelligence, Machine...",Pune
22,Sandhya Khandagale,HR Recruiter,Sandhya Khandagale,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Shaun Rao,Manager Human Resources,Shaun Rao,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Manas,Lead Talent acquisition,Manas,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
25,kumar,Proprietor,kumar,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
26,Sunil Vedula,CEO,Sunil Vedula,"Signal Processing, Machine Learning, Neural Ne...",Others
27,Rajat Kumar,Founder CEO,Rajat Kumar,"Web Technologies, Project Management, Software...",Delhi
28,Priya Khare,Senior Manager,Priya Khare,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
29,Dhruv Dev Dubey,Company Recruitment Head,Dhruv Dev Dubey,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
30,Jayanth N,Project Manager,Jayanth N,"Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
31,SREEDHAR,Recruitment Consultant,SREEDHAR,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
32,Radha Manivasagam,HR Executive,Radha Manivasagam,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore
33,Prateek Kumar,Head,Prateek Kumar,"Java, Python, Angularjs, Software Testing, Mac...",Noida
34,Amit Sharma,Consultant,Amit Sharma,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
35,Kanan,senior technology instructor,Kanan,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,Shashikant Chaudhary,"Relationship Management, Retail Sales, Private...",Aligarh
37,Brad,"Manager, Technical Recruiting",Brad,"Data Science, Software Engineering",Salt Lake City
38,Rutuja Pawar,Technical Recruiter,Rutuja Pawar,"Data Science, Big Data Analytics, Digital Mark...",Pune
39,Madhusudhan Sridhar,Erp Implementer,Madhusudhan Sridhar,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
40,Ankit Sinha,Head Analytics,Ankit Sinha,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
41,Gaurav Chouhan,Chief Technical Officer,Gaurav Chouhan,"Software Development, Business Intelligence, B...",Indore
42,Rashi Kacker,Sr Product Manager,Rashi Kacker,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
43,Ashwini,Director Global Delivery,Ashwini,"Data Science, Media Marketing, Resource Planni...",MYSORE
44,Balaji Kolli,Co Founder,Balaji Kolli,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
45,Rajani Nagaraj,HR Manager,Rajani Nagaraj,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
46,ROHIT Kumar,Architect,ROHIT Kumar,"Software Development, Core Java, Unit Testing,...",Mumbai
47,Amir Chowdhury,Managing Partner,Amir Chowdhury,"Machine Learning, Data Science, Product Manage...",
48,Shailja Mishra,HR Manager,Shailja Mishra,"consulting, Education Counseling, Educational ...",Noida
49,Sunny Sharma,Managing Director - HR,Sunny Sharma,"Software Professionals, Engineering, Technical...",Mumbai

# Scrape the details of Highest selling novels.

In [20]:
book = []
author = []
vol = []
pub = []
genre = []                                     #declaring lists

url8 = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'
driver.get(url8)
time.sleep(3)                               #accessing the url

for i in range (0,100):                                   #using for loop to loop over all the rows at once
    book_tag = driver.find_element_by_id('table-cell-10943-' + str(i) + '-1')
    auth_tag = driver.find_element_by_id('table-cell-10943-' + str(i) + '-2')
    vol_tag = driver.find_element_by_id('table-cell-10943-' + str(i) + '-3')
    pub_tag = driver.find_element_by_id('table-cell-10943-' + str(i) + '-4')
    gen_tag = driver.find_element_by_id('table-cell-10943-' + str(i) + '-5')
    
    book.append(book_tag.text)
    author.append(auth_tag.text)
    vol.append(vol_tag.text)
    pub.append(pub_tag.text)
    genre.append(gen_tag.text)
    
novels = pd.DataFrame({})                            #creating dataframe
novels['Title'] = book
novels['Author'] = author
novels['Volumes Sold'] = vol
novels['Publisher'] = pub
novels['Genre'] = genre
novels

,Title,Author,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Scrape the details most watched tv series of all time from imdb.com.

In [21]:
url9 = 'https://www.imdb.com/list/ls095964455/'
driver.get(url9)
time.sleep(3)                                   #accessing the url

name = []
year = []
genre = []
run = []
ratings = []
votes = []                                          #declaring lists

name_tag = driver.find_elements_by_xpath('//h3[@class="lister-item-header"]//a')
year_tag = driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')
genre_tag = driver.find_elements_by_xpath('//span[@class="genre"]')
run_tag = driver.find_elements_by_xpath('//span[@class="runtime"]')
ratings_tag = driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]//span[2]')
votes_tag = driver.find_elements_by_xpath('//span[@name="nv"]')

for i in name_tag:                                             #looping over tag and adding relevant text to the list
    name.append(i.text)
    
for i in year_tag:                                              #looping over tag and adding relevant text to the list
    year.append(i.text)
    
for i in genre_tag:                                         #looping over tag and adding relevant text to the list
    genre.append(i.text)
    
for i in run_tag:                                              #looping over tag and adding relevant text to the list
    run.append(i.text)
    
for i in ratings_tag:                                         #looping over tag and adding relevant text to the list
    ratings.append(i.text)
    
for i in votes_tag:                                          #looping over tag and adding relevant text to the list
    votes.append(i.text)
    
imdb = pd.DataFrame({})                                              #creating dataframe
imdb['Name'] = name
imdb['Year Span'] = year
imdb['Genre'] = genre
imdb['Run time'] = run
imdb['Ratings'] = ratings
imdb['Votes'] = votes

imdb

,Name,Year Span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,823,874"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"864,235"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"874,687"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"262,749"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"224,116"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,586"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,086"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"167,827"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"34,897"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"191,515"

# Details of Datasets from UCI machine learning repositories.

In [22]:
url10 = 'https://archive.ics.uci.edu/'                 
driver.get(url10)
time.sleep(3)                                        #accessing the url

ds = driver.find_element_by_xpath('//font[@size="3"]')
ds.click()
time.sleep(2)

In [42]:
ds_name = []
dtype = []
task = []
att = []
no_inst = []
no_att = []
year = []                                                #declaring lists

total_tag = driver.find_element_by_xpath('//table[@width="100%"]//p[@class="big"]//b')
total = int (total_tag.text) + 2

for i in range (2, total):          #creating a list of list in which each element will contain all the column info in a list
    
    data_tag = driver.find_elements_by_xpath('//table[@border="1"]//tr[' + str(i) + ']//p')
    ds_name.append(data_tag[0].text)
    dtype.append(data_tag[1].text)
    task.append(data_tag[2].text)
    att.append(data_tag[3].text)
    no_inst.append(data_tag[4].text)
    no_att.append(data_tag[5].text)
    year.append(data_tag[6].text)
    
uci = pd.DataFrame({})                                             #creating dataframe
uci['Dataset name'] = ds_name
uci['Data type'] = dtype
uci['Task'] = task
uci['Attribute type'] = att
uci['No of instances'] = no_inst
uci['No of attribute'] = no_att
uci['Year'] = year

uci

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021